form .validated {
  .input-invalid {
    color: $error-color;
  }
  .hint {
    @extend .flash-alert;
    display: none;
    font-size: .75rem;
    padding: $base-spacing / 4;
    margin-top: -$base-spacing / 2;
  }
}
